common:
	parameters:


	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes


	nette:
		application:
			errorPresenter: Error
			mapping:
				*: App\*Module\*Presenter

		session:
			expiration: 14 days


	extensions:
		twBootstrapRenderer: Kdyby\BootstrapFormRenderer\DI\RendererExtension
		console: Kdyby\Console\DI\ConsoleExtension
		events: Kdyby\Events\DI\EventsExtension
		doctrine: Kdyby\Doctrine\DI\OrmExtension


	services:
#		user: App\User
#		authenticator: @user
		routerFactory: App\RouterFactory
		router: @routerFactory::createRouter


	factories:


	doctrine:
		host: 127.0.0.1
		user: root
		password: heslo
		dbname: app



production < common:
	nette:
		debugger:
			email: filip@prochazka.su
			strictMode: TRUE



development < common:
	nette:
		application:
			debugger: true

		routing:
			debugger: true

		security:
			debugger: true

		container:
			debugger: true

		debugger:
			strictMode: TRUE
			browser: google-chrome

#		database:
#			dsn: 'mysql:host=127.0.0.1;dbname=visual-deploy'
#			user: root
#			password: heslo
