{#body}{include #content}{/#}

{#content}
{form signInForm, class => 'signIn'}
    <h2 n:block="title">Please sign in</h2>
    {control flashes}
    {form errors}
    {input email}
    {input password}
    {label remember}{input remember}{$_label->getText()}{/label}
    {input send, class => 'btn btn-large btn-primary'}
{/form}
