body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../img/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}

html {
	overflow-y: scroll;
}

body {
	font: 14px/1.65 Verdana, "Geneva CE", lucida, sans-serif;
	background: #3484d2;
	color: #333;
	margin: 38px auto;
	max-width: 940px;
	min-width: 770px;
}

h1, h2 {
	font: normal 150%/1.3 Georgia, "New York CE", utopia, serif;
	color: #1e5eb6;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}

img {
	border: none;
}

a {
	color: #006aeb;
	padding: 3px 1px;
}

a:hover, a:active, a:focus {
	background-color: #006aeb;
	text-decoration: none;
	color: white;
}

#banner {
	border-radius: 12px 12px 0 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAB5CAMAAADPursXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBQTFRFD1CRDkqFDTlmDkF1D06NDT1tDTNZDk2KEFWaDTZgDkiCDTtpDT5wDkZ/DTBVEFacEFOWD1KUDTRcDTFWDkV9DkR7DkN4DkByDTVeDC9TDThjDTxrDkeADkuIDTRbDC9SbsUaggAAAEdJREFUeNqkwYURgAAQA7DH3d3335LSKyxAYpf9vWCpnYbf01qcOdFVXc14w4BznNTjkQfsscAdU3b4wIh9fDVYc4zV8xZgAAYaCMI6vPgLAAAAAElFTkSuQmCC);
}

#banner h1 {
	color: white;
	font-size: 50px;
	line-height: 121px;
	margin: 0;
	padding-left: 40px;
	background: url(http://files.nette.org/sandbox/logo.png) no-repeat 95%;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .9);
}

#content {
	background: white;
	border: 1px solid #eff4f7;
	border-radius: 0 0 12px 12px;
	padding: 10px 40px;
}

#content > h2 {
	font-size: 130%;
	color: #666;
	clear: both;
	padding: 1.2em 0;
	margin: 0;
}

h2 span {
	color: #87A7D5;
}

h2 a {
	text-decoration: none;
	background: transparent;
}

.box {
	width: 24%;
	float: left;
	background: #f0f0f0;
	margin-right: 4%;
	min-height: 230px;
	padding: 3%;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
}

.box h2 {
	text-align: right;
	margin: 0;
}

.box img {
	float: left;
}

.box p {
	clear: both;
}

.box:nth-child(4n - 2) h2 {
	color: #00a6e5;
}

.box:nth-child(4n - 2) img {
	margin: -24px 0 0 -24px;
}

.box:nth-child(4n - 1) h2 a {
	color: #db8e34;
	background: transparent;
}

.box:nth-child(4n) {
	margin: 0;
}

.box:nth-child(4n) h2 a {
	color: #578404;
	background: transparent;
}

html.js section {
	display: none;
}

pre {
	font-size: 12px;
	line-height: 1.4;
	padding: 10px;
	margin: 1.3em 0;
	overflow: auto;
	max-height: 500px;
	background: #F1F5FB;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

footer {
	font-size: 70%;
	padding: 1em 0;
	color: gray;
}

.jush-com, .jush-php_doc {
	color: #929292;
}

.jush-tag, .jush-tag_js {
	color: #6A8527;
	font-weight: bold;
}

.jush-att {
	color: #8CA315
}

.jush-att_quo {
	color: #448CCB;
	font-weight: bold;
}

.jush-php_var {
	color: #d59401;
	font-weight: bold;
}

.jush-php_apo {
	color: green;
}

.jush-php_new {
	font-weight: bold;
}

.jush-php_fun {
	color: #254DB3;
}

.jush-js, .jush-css {
	color: #333333;
}

.jush-css_val {
	color: #448CCB;
}

.jush-clr {
	color: #007800;
}

.jush a {
	color: inherit;
	background: transparent;
}

.jush-latte {
	color: #D59401;
	font-weight: bold
}
